body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6A6A6A;
}

a {
    color: #F15A23;
    text-decoration: none;
}

a:hover {
    color: #F15A23;
}

header {
    padding: 40px 25px;
}

header h1 {
    margin:0;
}

header a {
    color: #000000;
    font-weight: 600;
}

header a:hover {
    text-decoration: none;
}


header p {
    margin: 5px 0;
    font-size: .8em;
    color: #444444;
}

nav {
    background: #383838;
    width: 100%;
    height: 50px;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    border-right: 1px solid #000000;
}

nav li {
    float: left;
    display: inline;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    border-left: 1px solid #000000;
}

nav li:first-child {
    border-left: none;
}

nav li:last-child {
    border-right: none;
}

nav li:hover {
    background-color: #F15A23;
}

nav a {
    font-size: 12px;
    color: #6A6A6A;
    display: block;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    height: 50px;
    padding: 0 25px;
    border-right: 1px solid rgba(255,255,255, 0.1);
}

nav a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    background-color: #F15A23;
}

main {
    padding: 0 25px;
}

main h1, h2, h3, h4, h5 {
    color: #000000;
}

.heading {
    margin-bottom: 25px;
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
}

.mainContent {
    width: 66%;
    float: left;
}

.sideWidgets {
    width: 32%;
    float: left;
    margin-left: 2%;
}

aside h5 {
    font-size: 14px;
    font-weight: 600;
}

aside p {
    margin: 0;
}

aside .backButton {
    float: left;
}

aside .nextButton {
    float: right;
}

aside .calTitle {
    font-weight: bold;
    clear: left;
    color: #444444;
}

aside .calName {
    padding-left: 5px;
    background-color: #DDDDDD;
}
