body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #6A6A6A;
    background: #D5D7D7;
}

#wrap {
    margin: 40px auto;
    background: white;
    overflow: auto;
    padding: 0;
    box-shadow: 0px 0px 3px #888888;
}

a {
    color: #F15A23;
    text-decoration: none;
}

a:hover {
    color: #F15A23;
}

header {
    padding: 40px 25px;
}

header h1 {
    margin:0;
    font-size: 2.5em;
}

header a {
    color: #000000;
    font-weight: 600;
}

header a:hover {
    text-decoration: none;
}

header p {
    margin: 5px 0;
    font-size: .8em;
    color: #444444;
}

.fillerNav {
    background: #383838;
    height: 50px;
}

nav {
    background: #EEEEEE;
    width: 100%;
    height: 55px;
}

nav ul {
    background: #383838;
    padding: 0;
    position: relative;
	display: inline-table;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 0;
    color: #FFFFFF;
    border-left: 1px solid #000000;
}

nav li:first-child {
    border-left: none;
}

nav li:last-child {
    border-right: 1px solid #000000;
}

nav li:hover {
    background-color: #F15A23;
}

nav ul a {
    font-size: 12px;
    color: #6A6A6A;
    display: block;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    height: 50px;
    padding: 0 25px;
    border-right: 1px solid rgba(255,255,255, 0.1);
}

nav ul a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    background-color: #F15A23;
}

nav ul ul {
    background: #383838;  
    padding: 0;
    display: none;
    position: absolute; 
    top: 100%;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    float: none;
    border-left: none;
    border-top: 1px solid #000000;
    position: relative;
}

nav ul ul li a {
    color: #FFFFFF;
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}	
nav ul ul li a:hover {
    background: #F15A23;
    border-right: none;
}

nav ul ul li:last-child {
    border-right: none;
}

main {
    padding: 0 25px;
    overflow: auto;
}

main h1, h2, h3, h4, h5 {
    color: #000000;
}

.heading {
    margin-bottom: 25px;
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;
}

.mainContent {
    width: 66%;
    float: left;
}

.sideWidgets {
    width: 32%;
    float: left;
    margin-left: 2%;
}

aside h5 {
    font-size: 14px;
    font-weight: 600;
}

aside p {
    margin: 0;
}

aside .backButton {
    float: left;
}

aside .nextButton {
    float: right;
}

aside .calTitle {
    font-weight: bold;
    clear: left;
    color: #444444;
}

aside .calName {
    padding-left: 5px;
    background-color: #DDDDDD;
}

.gCal {
    margin-bottom: 30px;
}

.widgetImage {
    padding: 50px;
}

header em {
    color: #444444;
    font-size: .9em;
}
