body {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    background: #E8F1F2;
    color: #13293D;
}

header {
    margin: 0 5% 0 5%;
}

nav {
    background: #247BA0;
    width: 100%;
}

nav ul {
    margin-left: 5%;
    padding: 5px 0;
    display: block;
}

nav li {
    /* Takes up only as much width as it needs, and does not force new line  */
    display: inline;
    padding: 5px 15px;
}

nav li:hover {
    /* background: #2372A0; */
    box-shadow: inset 0 0 1.3em #0D6489;
}

nav a {
    color: #E8F1F2;
    /* Remove link color and hover over effect */
    text-decoration: none;
}

section a:hover {
    color: #1A66E0;
}

section {
    margin: 0 5% 0 5%;
}

ul {
    /* Remove bullets in list */
    list-style-type: none;
    padding: 0;
}

a {
    color: #247BA0;
}

footer {
    margin: 0 5% 0 5%;
    bottom: 0;
    background: #E8F1F2;
}
