.clear {
    &:after {
        clear: both;
        display: table;
        content: "";
    }
}

a {
    &:hover,
    &:visited,
    &:visited:hover,
    &:focus {
        color: #bf4d28;
    }
}

/* BACKGROUND */
html {
    $size: cover;

    background: url("http://lorempixel.com/350/262/nature") no-repeat center center fixed;
    @media screen and (min-width: 320px)  {
        background-image: url("http://lorempixel.com/1000/750/nature");
    }
    @media screen and (min-width: 900px) {
        background-image: url("http://lorempixel.com/1300/975/nature");
    }

    @media screen and (min-width: 1240px) {
        background-image: url("http://lorempixel.com/1920/1440/nature");
    }

    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

body {
  background: none;
  font-size: auto;
}


/* NAVIGATION */
nav {
}

.navbar {
  .container-fluid {
    padding: 0;
  }
}

.navbar-default {
    background-color: rgba(0,0,0,1);
    border: 0;

    .navbar-nav>li {
        >a {
            &,
            &:hover,
            &:visited,
            &:active {
                color: white;
                font-weight: bold;
                padding-top: 10px;
                padding-bottom: 5px;
            }
        }
        &:not(:last-child) {
            border-bottom: 0;
        }
    }
}

.menu_collapse {
    display:block;

    @media screen and (max-width: 768px) {
        display:none;
    }
}

.navbarLinks {
  text-align: right;
  margin: 0 1em 0 1em;
}

.navbar-default {
    .navbar-collapse {
      border: 0;
      box-shadow: none;
    }
    .navbar-toggle {
        border: 0;

        .icon-bar {
            background-color: #fff;
        }
    }
}

.navbar-collapse {
    border-top: 0;
    ul {
        li {
            text-align: right;
            margin-right: 10px;
        }
    }
}

/* MAIN */
main {
    section {
        margin: 60px 0 0 0;

        img {
            display: block;
            margin: 2em;
        }
        img:nth-child(even) {
	        float: right;
        }
        img:nth-child(odd) {
	        float: left;
        }
    }
    aside {
        margin: 60px 0 0 0;
        img {
            display: block;
            margin: auto;
        }
    }
}

.inner {
  margin: 0 1%;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  padding: 15px;
}

h1 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Great Vibes';
}

h2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Playfair Display';
}

h3 {
  font-family: 'Playfair Display';
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.col-md-6 {
  padding: 0;
}

/* FOOTER */
footer {
  width: 100%;
  text-align: center;
  color: #fff;
}
